Repository microsoft/vscode-python, pull requests merged in 2025-05, with the labels that each got.

#25033 bump to release 2025.6
  package-lock.json
  package.json
Labels: no-changelog, skip-issue-check

#25034 bump: update version to 2025.7.0-dev in package.json
  package-lock.json
  package.json
Labels: no-changelog, skip-issue-check

#25037 PYTHONSTARTUP should be injected regardless of terminalEnv experiment
  src/client/terminals/envCollectionActivation/service.ts
  src/test/interpreters/activation/terminalEnvVarCollectionService.unit.test.ts
Labels: bug, area-terminal

#25025 Added pylock to activationevents
  package.json
Labels: feature-request, skip package*.json, skip-issue-check

#25047 chore: lock down workflows
  .github/actions/build-vsix/action.yml
  .github/actions/smoke-tests/action.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/community-feedback-auto-comment.yml
  .github/workflows/gen-issue-velocity.yml
  .github/workflows/info-needed-closer.yml
  .github/workflows/issue-labels.yml
  .github/workflows/lock-issues.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr-file-check.yml
  .github/workflows/pr-labels.yml
  .github/workflows/python27-issue-response.yml
  .github/workflows/remove-needs-labels.yml
  .github/workflows/test-plan-item-validator.yml
  .github/workflows/triage-info-needed.yml
Labels: no-changelog

#25062 Fix msys2 venv path
  python_files/create_venv.py
  python_files/tests/test_create_venv.py
Labels: bug

#25065 Updates to latest version of VS Code types
  package-lock.json
  package.json
  src/client/common/cancellation.ts
  src/client/common/process/logger.ts
  src/client/common/utils/charCode.ts
  src/test/mocks/mockDocument.ts
  src/test/mocks/vsc/extHostedTypes.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25066 Port Python Env Tools
  package.json
  package.nls.json
  src/client/chat/getPythonEnvTool.ts
  src/client/chat/index.ts
  src/client/chat/installPackagesTool.ts
  src/client/chat/pipListUtils.ts
  src/client/chat/utils.ts
  src/client/extension.ts
  src/client/pythonEnvironments/common/environmentManagers/conda.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25076 chore: ensure `.env` files are excluded from vsix
  .vscodeignore
Labels: debt, skip-issue-check

#25075 chore: ensure `.env` files are excluded from vsix
  .vscodeignore
Labels: debt, skip-issue-check

#25077 bump release 2025.6.1
  package-lock.json
  package.json
Labels: no-changelog, skip-issue-check

#25078 Rename llm tools
  package.json
  src/client/chat/getPythonEnvTool.ts
  src/client/chat/installPackagesTool.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25079 API to get last used env in a LM tool
  src/client/api.ts
  src/client/chat/installPackagesTool.ts
  src/client/chat/lastUsedEnvs.ts
  src/client/chat/listPackagesTool.ts
  src/client/chat/utils.ts
  src/client/jupyter/jupyterIntegration.ts
  src/test/api.functional.test.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25082 Tweak Python shell integration for lsp completion
  python_files/pythonrc.py
  python_files/tests/test_shell_integration.py
Labels: debt, area-repl

#25088 Ensure python selector supports returning created env
  src/client/interpreter/configuration/interpreterSelector/commands/setInterpreter.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25090 Ability to track the user selected Environment
  src/client/chat/installPackagesTool.ts
  src/client/chat/lastUsedEnvs.ts
  src/client/chat/listPackagesTool.ts
  src/client/chat/utils.ts
  src/client/common/utils/async.ts
  src/client/extension.ts
  src/client/interpreter/configuration/interpreterSelector/commands/setInterpreter.ts
  src/client/interpreter/configuration/pythonPathUpdaterService.ts
  src/client/interpreter/configuration/recommededEnvironmentService.ts
  src/client/interpreter/configuration/types.ts
  src/client/interpreter/serviceRegistry.ts
  src/client/jupyter/jupyterIntegration.ts
  src/test/debugger/envVars.test.ts
  src/test/interpreters/serviceRegistry.unit.test.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25091 Configure Python Env tool
  package.json
  package.nls.json
  src/client/chat/configurePythonEnvTool.ts
  src/client/chat/getExecutableTool.ts
  src/client/chat/getPythonEnvTool.ts
  src/client/chat/index.ts
  src/client/chat/installPackagesTool.ts
  src/client/chat/listPackagesTool.ts
  src/client/extensionActivation.ts
  src/client/interpreter/configuration/interpreterSelector/commands/setInterpreter.ts
  src/client/interpreter/configuration/recommededEnvironmentService.ts
  src/client/interpreter/configuration/types.ts
  src/client/interpreter/serviceRegistry.ts
  src/client/jupyter/jupyterIntegration.ts
  src/client/pythonEnvironments/creation/createEnvApi.ts
  src/client/pythonEnvironments/creation/registrations.ts
  src/test/pythonEnvironments/creation/createEnvApi.unit.test.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25092 fix: ensure we always return `undefined` for invalid envs
  package-lock.json
  src/client/pythonEnvironments/nativeAPI.ts
Labels: bug, skip package*.json, skip tests, skip-issue-check

#25098 Prefer using Notebook tools over Python tools for notebooks
  src/client/chat/configurePythonEnvTool.ts
  src/client/chat/getExecutableTool.ts
  src/client/chat/getPythonEnvTool.ts
  src/client/chat/installPackagesTool.ts
  src/client/chat/utils.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25104 Add activation events for tools
  package.json
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25102 Remove single quotes surrounding displayed venv
  src/client/pythonEnvironments/nativeAPI.ts
  src/test/pythonEnvironments/nativeAPI.unit.test.ts
Labels: bug

#25106 Configuration tool with improved workflow and UX
  package.json
  src/client/chat/configurePythonEnvTool.ts
  src/client/chat/createVirtualEnvTool.ts
  src/client/chat/getExecutableTool.ts
  src/client/chat/getPythonEnvTool.ts
  src/client/chat/index.ts
  src/client/chat/installPackagesTool.ts
  src/client/chat/listPackagesTool.ts
  src/client/chat/selectEnvTool.ts
  src/client/chat/utils.ts
  src/client/interpreter/helpers.ts
  src/client/pythonEnvironments/creation/createEnvApi.ts
  src/client/pythonEnvironments/creation/provider/venvCreationProvider.ts
  src/client/pythonEnvironments/creation/types.ts
  src/client/pythonEnvironments/info/pythonVersion.ts
  src/client/pythonEnvironments/legacyIOC.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25112 Support additional args for create venv tool
  package.json
  src/client/chat/createVirtualEnvTool.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25113 Update tool args
  src/client/chat/createVirtualEnvTool.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check
