Repository microsoft/vscode-python, pull requests merged in 2025-06, with the labels that each got.

#25142 Ensure we do not support the tools in an untrusted workspace
  src/client/chat/configurePythonEnvTool.ts
  src/client/chat/createVirtualEnvTool.ts
  src/client/chat/getExecutableTool.ts
  src/client/chat/getPythonEnvTool.ts
  src/client/chat/installPackagesTool.ts
  src/client/chat/selectEnvTool.ts
  src/client/chat/utils.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25148 Bump to 2025.8.0
  build/azure-pipeline.stable.yml
  package-lock.json
  package.json
Labels: no-changelog, skip-issue-check

#25149 bump to 2025.9
  package-lock.json
  package.json
Labels: no-changelog, skip-issue-check

#25194 fix linting
  python_files/printEnvVariablesToFile.py
  python_files/unittestadapter/execution.py
Labels: debt, skip-issue-check

#25204 add python.useEnvironmentsExtension
  package.json
  package.nls.json
Labels: debt, skip package*.json, skip-issue-check

#25205 Update node to 20.18.1
  .github/workflows/build.yml
  .github/workflows/pr-check.yml
  build/azure-pipeline.pre-release.yml
  build/azure-pipeline.stable.yml
  build/azure-pipelines/pipeline.yml
  pythonExtensionApi/package-lock.json
  pythonExtensionApi/package.json
Labels: no-changelog, skip-issue-check

#25216 Disable PyREPL
  src/client/extensionActivation.ts
  src/client/terminals/codeExecution/helper.ts
  src/client/terminals/pythonStartup.ts
  src/test/terminals/codeExecution/helper.test.ts
  src/test/terminals/shellIntegration/pythonStartup.test.ts
Labels: feature-request, area-repl

#25220 Capture invocation and failure reasons for tools
  src/client/chat/baseTool.ts
  src/client/chat/configurePythonEnvTool.ts
  src/client/chat/createVirtualEnvTool.ts
  src/client/chat/getExecutableTool.ts
  src/client/chat/getPythonEnvTool.ts
  src/client/chat/installPackagesTool.ts
  src/client/chat/selectEnvTool.ts
  src/client/chat/utils.ts
  src/client/common/errors/errorUtils.ts
  src/client/telemetry/constants.ts
  src/client/telemetry/index.ts
Labels: no-changelog, skip package*.json, skip tests, skip-issue-check

#25227 edit gulpfile so envs ext is only bundled in pre-release
  .github/actions/build-vsix/action.yml
  build/azure-pipeline.pre-release.yml
  gulpfile.js
  package.json
Labels: debt, skip package*.json, skip tests, skip-issue-check

#25229 Update brace-expansion to version 2.0.2
  package-lock.json
Labels: debt, skip package*.json, skip-issue-check
